# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Envs
.venv/
venv/

# Build
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Node.js / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn/
.pnp.*

# Frontend build artifacts
ui/dist/
ui/.vite/

